<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créer un compte</title>
</head>
<body>

<form method="POST">
    {% csrf_token %}

    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="password1">Mot de passe</label>
    <input type="password" id="password1" name="password1">
    <label for="password2">Confirmation</label>
    <input type="password" id="password2" name="password2">

    {% if error %}
        <small style="color: red;">
            {{ error }}
        </small>
    {% endif %}

    <input type="submit" value="S'inscrire">
</form>

</body>
</html>